ion-menu-button {
    color: var(--ion-color-primary);
}


.header-title {
    font-weight: 600;
}

.label-body {
    border: 5px solid red;
    color: blue !important;
}

.item-date-label {
    font-weight: bold;
    color: blue !important;
}

.item-value {
    font-style: italic;
    color: blue !important;
}
.res-design-col {
    @media screen and (max-width: 992px) {
        --background: green !important;
    }
    @media screen and (max-width: 576px) {
        --background: red !important;
    }
}