ion-menu-button {
    color: var(--ion-color-primary);
}


.header-title {
    font-weight: 600;
}

.label-body {
    border: 5px solid red;
    color: blue !important;
}

.item-date-label {
    font-weight: bold;
    color: blue !important;
}

.item-value {
    font-style: italic;
    color: blue !important;
}